header {
  background-color: #FFFFFF;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 576px) {
  header {
    height: 80px;
  }
}

header .logo {
  width: 120px;
  position: relative;
  vertical-align: middle;
}
@media (min-width: 576px) {
  header .logo {
    width: 156px;
  }
}

header .logoTitle {
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 0 20px;
  margin: 0;
  position: relative;
  top: 2px;
}
header .logoTitle::before {
  content: "";
  border-right: solid 1px #d9d9d9;
  padding-left: 18px;
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 100%;
}
@media (min-width: 576px) {
  header .logoTitle {
    font-size: 20px;
    top: 5px;
  }
}