@charset "UTF-8";
* {
  box-sizing: border-box;
  color: #1c1c1c;
  line-height: 1.5;
}
.bg{
  background-color: #F4F8FA;
}
.bg-grey{
  background-color: #F5F5F5;
}
.w-30{
  width: 30%;
}
.w-50{
  width: 50%;
}
.w-100{
  width: 100%;
}
.fs-20{
  font-size: 20px;
}
.fs-18{
  font-size: 18px;
}
.fw-500{
  font-weight: 500;
}
.lh-30{
  line-height: 30px;
}
.mw-80{
  max-width: 80px;
}
.mw-400{
  max-width: 400px;
}
.mw-1000{
  max-width: 1000px;
}

