
.sidebarImg{
    text-align: center;
}
.sidebarImg img{
    margin-top: 3vh;
    width: 30%;
}
.disabled {
  pointer-events: none;
}
.title {
    color: white;
    font-size: 1.8rem;
    margin-top: 3vh;
    text-align: center;
    z-index: 100;
}
.menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.menu-items .link-container p {
    color: white;
    width: 250px
}
.menu-items .side-btn {
    margin-left: 10px;
    min-width: 240px;
    text-align: center;
    padding-top: 25px;
    border: none;
    height: 100px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    background-color: transparent;
    z-index: 100;
}
.side-btn:focus {
    outline: none;
    color: white;
}
.side-btn .link-container {
    margin-top: 1vh;
    color: white;
    width: 300px;
}
.side-btn.active {
    position: relative;
    background-color: #09747A;
    color: #10A0A7;
    font-weight: bold;
    border-radius: 50px 0 0 50px;
    z-index: 0;
}
.side-btn.active::before {
    top: -30px;
    
}
.side-btn.active::after {
    bottom: -30px;
    
}
.side-btn.active::before, .side-btn.active::after {
    position: absolute;
    content: "";
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #09747A;
    
}
.side-btn.active .link-container::before {
    top: -60px;
    
}
.side-btn.active .link-container::after {
    bottom: -60px;
    z-index: 99;
    
}
.side-btn.active .link-container::before, .side-btn.active .link-container::after {
    position: absolute;
    content: "";
    right: 0px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #10A0A7;
    
}