@charset "UTF-8";
.greenHead thead{
  background-color: #00a19b;
}
.greenHead thead tr th{
  color: #fff;
  vertical-align: middle;
}
.greenHead thead tr th, .greenHead tbody tr td{
  padding: 10px 5px;
  border: 1px solid #707070;
}
.greenHead tbody tr td{
  font-size: 14px;
}
.greenHead tbody tr td small{
  font-size: 12px;
}